<header>
    <script src="/static/website/plugins/web_top.js?v=3"></script>
    <!-- <script src="/static/js/jquery.min.js"></script> -->
<!--    <link rel="preload" as="style" onload="show_dom(this)" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preload" as="style" onload="show_dom(this)" href="/static/website/css/site.css" />
    <link rel="preload" as="style" onload="show_dom(this)" href="/static/website/css/blog.css" />
    <link rel="preload" as="style" onload="show_dom(this)" href="/static/website/css/menu.css" />
    <link rel="preload" as="style" onload="show_dom(this)" href="/static/website/css/three_columns.css" />
    <link rel="preload" as="style" onload="show_dom(this)" href="/static/website/css/fonts.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>window.lazy_load_images = function(){}</script>
    <script async src="/static/website/plugins/lazy_load.js?v=3"></script>
    <script defer src="/static/website/plugins/web_utils_file.js?v=2"></script>

    <nav class="main">
        <ul class="main-navigation">
            {% for node in main_menu.nodes.all %}
                <li>
                    <a href="{{node.link}}">{{node.name}}</a>
                </li>
            {% endfor %}

            {% for child_menu in child_menus.all %}
                <li class="has_children">
                    <a class="no-link">{{child_menu.name}}</a>
                    <ul>
                        {% for node in child_menu.nodes.all %}
                            <li>
                                <a href="{{node.link}}">{{node.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>