{% extends "djangocms_blog/base.html" %}
{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}
{% block content_blog %}
<div class="three_columns row">
    <div class="column-left col">{% block left_col %}{% endblock left_col %}</div>
    <div class="column-middle col-6">
        {% block middle_col %}{% endblock middle_col %}
    </div>
    <div class="column-right col">{% block right_col %}{% endblock right_col %}</div>
</div>
{% endblock content_blog %}
