body{
    word-spacing: 0.1em;
}
body:not(.rtl) {
    font-family: '92 imperial';
    font-style: normal;
    letter-spacing: 0.02em;
}
@font-face {
    font-family: '92 imperial';
    font-display: block;
    src: url("../webfonts/imperial-normal-500.ttf");
}
body.rtl {
    /* font-family: 'Nastaleeq'; */
    font-family: 'nafees';
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
}
@font-face {
    font-family: 'nafees';
    font-display: block;
    /* src: url("../webfonts/Mehr Nastaliq Web version 1.0 beta.woff.ttf"); */
    src: url("../webfonts/nafees_web_naskhshipped.woff");
}
