.breadcrumb_wrapper{
    padding: 5px;
    background: #eee;
    color: #2e3192;
}
.br-cw{
    background: red;
    color: white;
}
.footer_container{
    background: black;
    color: white;
}
.footer_container a{
    color: white;
}

.footer_container a:hover{
    color: white;
}
article{
    margin-bottom: 10px;
}
.hide_on_click_away:not(.collapse) .collapse:not(.show),.modal{display:none}
.google-adcontainer,.google-adcontainer .adsbygoogle
{width:100%;height:auto!important}.google-adcontainer .adsbygoogle{display:block}