.three_columns>div{
    border: 1px solid;
    padding: 5px;
}
.three_columns{
    display: flex;
}
.three_columns>div{
    border: 1px solid;
    padding: 5px;
}
.container{
    border: 1px solid #eee;
}

@media only screen and (min-width: 1200px) {
    .three_columns .column-left
    {
        width: 15%;
    }
    .three_columns .column-middle{
        width: 70%;
    }
    .three_columns .column-right{
        width: 15%;
    }
    .three_columns>div:nth-child(2)
    {
        padding:0 10px;
    }
}
@media only screen and (max-width: 1199px) {
    .three_columns .column-left
    {
        width: 30%;
    }
    .three_columns .column-middle{
        width: 70%;
    }
    .three_columns .column-right{
        display: none;
    }
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 575px) {
    .three_columns .column-right, .three_columns .column-left
    {
        display:none;
    }
    .three_columns .column-middle{
        width: 100%;
    }
}




