<link rel="stylesheet" href="/static/cms_site/css/header.css" />
<nav class="main">
    <ul class="main-navigation">
        {% for node in main_menu.nodes.all %}
            <li>
                <a href="{{node.link}}">{{node.name}}</a>
            </li>
        {% endfor %}

        {% for child_menu in child_menus.all %}
            <li class="has_children">
                <a class="no-link">{{child_menu.name}}</a>
                <ul>
                    {% for node in child_menu.nodes.all %}
                        <li>
                            <a href="{{node.link}}">{{node.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>