.blog-visual.ic{
	border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    padding: 2px;
}
.blog-visual.ic img {
  width: auto;
  max-width: 100%;
  max-height:100%;
}
.post-item a:hover{
    text-decoration: none;
    color: red;
}
.post-detail.tags{
    margin: 10px 0;
}
.post-detail.publish-info{
    display: flex;
}
.post-detail.publish-info li{
    margin-right: 10px;
}